.script-output{
    border-radius: 10px 15px;
    background-color: #EEEEEE;
    margin-left: 170px;
    min-height: 100px;
    padding: 10px;
}

.adminbutton{
    background: #79aec8;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

code {
    white-space: pre;
}
